.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 18px;
}

.title-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-text-large {
  font-size: 48px;
}

.title-text-small {
  font-size: 36px;
}

.day-input {
  font-weight: 700;
}

.input-date {
  font-weight: 700;
  text-decoration: underline;
}

.input-date:hover {
  color: #e8e8e8;
  cursor: pointer;
}

.input-date-large {
  text-underline-offset: 8px;
  text-decoration-thickness: 4px;
}

.input-date-small {
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.result-date {
  font-weight: 700;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
