#root {
  margin: 0 auto;
  text-align: center;
}

.app-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-layout {
  margin: 16px;
}

.calculator-layout {
  margin-top: 16px;
  margin-bottom: 16px;
}
